{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      { //esta es una de la configuracion que podemos pasarle y 
        //es la mas importante por el momento
        "regenerator": true
        //"absoluteRuntime": false,
        //"corejs": false,
        //"helpers": true,
        //"useESModules": false,
        //"version": "7.0.0-beta.0"
      }
    ]
  ]
}